* {
    background: rgb(32, 32, 32);
    color: rgb(241, 241, 241);
}

html {
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 30rem 1fr 1fr;
}

.container {
    height: 30rem;
    border: .5px solid whitesmoke;
    display: grid;
}

.leftbar, .rightbar {
    display: flex;
    flex-direction: column;
}

.leftbar > button, .rightbar > button {
    margin: .4rem 1rem;
    width: 12rem;
    height: 3rem;
}

.footer {
    margin-top: 1rem;
}